.footer {
  height: 44px;
  background-color: green;
  opacity: 0.7;
  width: 100%;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
}

.footer-buttons {
  border-radius: 5px;
  justify-items: left;
  color: white;
  padding: 5px;
  width: 205px;
}

.footer-buttons a {
  background-color: white;
  padding: 0 10px;
  text-decoration: none;
  color: rgb(31, 53, 53);
  font-size: 15px bold;
}

/* a {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(31, 53, 53);
    font-size: 15px bold;
} */