.listing-details {
    box-shadow: -4px -4px 10px -5px;
    border: 1px solid red;
    width: 350px;
    text-align: center;
    background-color: white;
  }

  .image{
    float: top;
      width:  150px;
      height: 150px;
      object-fit: cover;
  }

  h6 {
      justify-items: left;
  }

