

  .loginform {
    /* width: 100%; */
    margin-top: 130px;
    margin-left: 430px;
    /* margin-right: 25%;
    align-items: center; */
}

  
  input[type=text] {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    padding: 6px 20px;
  }
  
  input[type=Submit] {
    height: 35px;
    width: 54.5%;
    background-color: #45a049;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
  }
  
  .createaccount {
    margin-top: 10px;
  }