/* Navbar -----------------------------------*/
#navbar {
  display: grid;
  background-color: teal;
  border-bottom: solid white 15px;
  opacity: 0.5;
  grid-template-columns: 15% 35% 35%;
  justify-items: center;
  align-items: center;
  padding: 20px;
  gap: 0 60px;
}

/* #climate {
    height: 25px;
} */

#nav-buttons,
.footer-buttons {
  background-color: white;
  border-radius: 5px;
  /* height: 18px; */
  padding: 4px;
  border: solid white;
  color: white;
}

#navbar #logo a {
  justify-items: left;
  font-size: 40px;
  font-weight: 540;
  border: 3px solid white;
  border-radius: 5px;
  background-color: green;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(31, 53, 53);
  font-size: 15px bold;
}

a:hover {
  color: black;
}

#search-input {
  padding: 5 0 0 0;
  width: 200px;
  height: 16px;
  border: solid white;
  border-radius: 5px;
}

#search-button {
  width: 60px;
  height: 30px;
  padding: 4px;
  border: solid white;
  border-radius: 5px;
}

/* #home-image {
    border: 2px solid teal;
    height: 650px;
    background: url("https://www.concertmagnet.com/wp-content/uploads/2022/05/Screenshot-2022-05-21-at-1.10.42-PM.png") no-repeat center;
    background-size: cover;
    grid-area: home;
  } */