/* input[type=text] {
    width: 50%;
    padding: 6px 20px;
}

input[type=submit] {
    width: 56.5%;
    background-color: #45a049;
} */

#descriptionHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
  
    box-shadow: -6px -6px 10px -5px;
    max-width: 800px;
    text-align: center;
    background-color: rgb(154, 154, 223);
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .card {
    box-shadow: -6px -6px 10px -5px;
    width: 800px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(217, 226, 231, 0.915);
    padding-bottom: 50px;
    /* margin: 25px auto; */
    margin: 10px auto;
    /* background-image: url("https://pm1.narvii.com/6363/e314b04694df6a7e00bceb51b17c87ea0ae52a8a_hq.jpg"); */
  }
  
  .card p {
    width: auto;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: left;
  }

  .name {
    padding-top: 35px;
    /* background-color: white;  */
  }
  
  #teamContainer{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  
  .cardPic{
    height: 150px;
  }
  
  .selfie{
    height: 150px;
    width: 150px;
  }
  
  .socialLinks img{
    height: 35px;
  }
  
  .linksContainer{
    padding-left: 270px;
    width: 90px;
    display: inline-block;
  }

  .about {
      margin-top: 50px;
      margin-bottom: 150px;
  }



/* #home-image {
    border: 1px solid rgb(112, 233, 233);
    height: 500px;
    background: url("https://cdn.shopify.com/s/files/1/0365/7065/articles/Refuse_Reduce_Recycle_900x.jpg?v=1580323402") no-repeat center;
    background-size: cover;
    opacity: 6;
}  */