


/* #home-image {
    border: 1px solid rgb(112, 233, 233);
    height: 500px;
    background: url("https://cdn.shopify.com/s/files/1/0365/7065/articles/Refuse_Reduce_Recycle_900x.jpg?v=1580323402") no-repeat center;
    background-size: cover;
    opacity: 6;
}  */